header{
    background-color: white;
    width: 100%;
    border: 0px; padding: 7px;
    font-family: copperplate, papyrus, fantasy;
    color: black;
    margin-bottom: 0px;
}
.menu{
    list-style-type: none;
}
.menuli{
    display: inline;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 30px;
}
a:hover{
    color: #FF6EC7  ;
  transition: color 0.3s ease; 
}
.maintitle{
    display: inline;
    margin-right: 380px;
    font-weight: bold;
    font-size: 30px;
}
body{
    margin: 0;
    background-color: #FF6EC7;  
}
.greetings{
            text-align: center; 
    font-size: 40px;
    
}
.flower{
    animation-name: flower;
  animation-duration: 10s;
    margin-left: 32rem;
    background-color: transparent;  
    border-radius: 16px;
    width: 350px;
    height: 350px;
}
@keyframes flower{
  from {opacity: 0;}
  to {opacity: 100;}
}
#galleryTitle{
    font-size: 50px;    
    text-align: center;
    background-color: white;
    border-radius: 15px;
    margin-top: 100px;
}
.gallerySubContainer{
  
}
.galleryImg{
    width: 350px;
    height: 350px;  
    border-radius: 15px;
}
#galleryContainer{
    display: flex;
    gap: 20px;
    margin-left: auto;
}
.messageGalleryContainer{
    border:  20px solid #FFD1DC;
    width: 60%;
    height: 50%;
    margin-top: 100px;
    margin-left: 233px;
padding: 20px;
    text-align: justify;
    border-radius: 15px;    
}
.messageGallery{
    font-size: 30px;    
}
#musicTitle{
    font-size: 50px;    
    text-align: center;
    background-color: white;
    border-radius: 15px;
    margin-top: 100px;
}
.player {
    background-color: #FF007F;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 105, 180, 0.3);
    text-align: center;
    width: 250px;
    border: 2px solid #ff69b4;
    margin-left: 20px;
}

#songTitle {
    color: black;
    margin-bottom: 20px;
}
.musicPlayerImg{
    width: 200px;
    height: 200px;
    border-radius: 15px; 
    margin-left: 5px;
}
.musicPlayer{
    border: 3px solid white;
    width: 210px;
    padding: 5px;
        border-radius: 15px;    
}
.musicPlayerTitle{
    text-align: center;
    margin-top: 10px;
}
#buttonPlayer1{
margin-left: 80px;
    background-color: #FF007F;
    border: none;
    border-radius: 15px;
    padding: 5px;
    width: 50px;    
}
#buttonPlayer1:hover{
    cursor: pointer;
    opacity: 0.7;
}
#buttonPlayer2{
margin-left: 80px;
    background-color: #FF007F;
    border: none;
    border-radius: 15px;
    padding: 5px;
    width: 50px;    
}
#buttonPlayer2:hover{
    cursor: pointer;
    opacity: 0.7;
}
#buttonPlayer3{
margin-left: 80px;
    background-color: #FF007F;
    border: none;
    border-radius: 15px;
    padding: 5px;
    width: 50px;    
}
#buttonPlayer3:hover{
    cursor: pointer;
    opacity: 0.7;
}
.musicSection{
    display: flex;
    gap: 100px;
    margin-left: 240px;
}
#letterTitle{
     font-size: 50px;    
    text-align: center;
    background-color: white;
    border-radius: 15px;
    margin-top: 100px;  
}
.verificationContainer{
    width: 400px;
    height: 400px;
    border: 2px solid;
    margin-left: 500px;
    border-radius: 15px;  
margin-bottom: 100px;
}
#verificationInput{
    margin-top: 100px;
    margin-left: 95px;
    border-radius: 15px;
    border: none;   
}
.verificationTitle{
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    background-color: white;
    border-radius: 15px;
}
.direction{
    text-align: justify;
    font-size: 18px;
    line-height: 15px;
    width: 320px;
    margin-left: 10px;
}
.sampleAnswer{
    margin-left: 10px;
    color: gray;
    margin-top: 50px;   
}
footer{
    background-color: white;
    width: 100%;
    border: 0px; padding: 7px;
    font-family: copperplate, papyrus, fantasy;
    color: black;
    margin-bottom: 0px;
    text-align: center;
}
#letter{
    
}
.letterContainer{
    width: 600px;
    background-color: white;
        margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    padding: 10px;
    text-align: justify;
}
#speedBtn{
    padding: 6px;
    border-radius: 15px;
    background-color: #FF007F;
}